.log {
  max-width: 1000px;
  margin: 20px auto 0;
  text-align: center;
  @include mobile {
    padding: 0 10px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    th, td{
      border: 1px solid $c-gray;
    }
    th {
      background: $c-water;
    }
    td {
      background: $c-white;
    }
  }
}